.bold-text {
    font-size: 1rem;
    font-weight: 800;
    color: black;
    text-align: left;
  
    @media screen and (min-width: 2000px) {
      font-size: 2rem;
    }
  
    @media screen and (max-width: 450px) {
      font-size: 0.9rem;
    }
  }

  .p-text {
    font-size: 0.8rem;
    text-align: left;
    color: gray;
    line-height: 1.5;
  
    @media screen and (min-width: 2000px) {
      font-size: 1.75rem;
    }
  }

  .p-img:hover,
  .p-img:focus{
    background-color: #D2E9E9;
    
        transform: scale(1.5) rotate(0.01deg);
        transition: 0.3s ease-in-out;
  }